.quiz-container {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 auto;
  }
  
  .quiz-title {
    font-size: 10px;
    margin: 10px 0;
  }
  
  .quiz-question {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .quiz-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .quiz-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .quiz-result {
    margin: 20px 0;
    font-size: 18px;
  }

  .centered-text {
    text-align: center;
  }
  
  .centered-buttons {
    text-align: center;
  }
