 /* this is for H2 - Login */
  h2 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
  }

  .form {
    margin-top: 100px;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-field {
    width: 350px;
    min-width: 30%;
  }
  
  input[type="username"],
  input[type="password"] {
    width: 98.5%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px; /* rounded corners */
  }
  
  /*this is for the error message */
  .error-message {
    color: red;
    text-align: center;
  }

  .confirmation-message {
    color: green;
    text-align: center;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
  }

  .button:hover {
    background-color: #56a8ff;;
  }

  .button-container {
    display: flex;
    margin-top: 10px;
  }
  